body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.input-field label.multiselect-label,
.input-field label.switch-label {
  position: absolute;
  top: -26px;
  font-size: 0.8rem;
}

.switch label input[type="checkbox"]:checked ~ .lever {
  background-color: #84c7c1;
}

.switch label input[type="checkbox"]:checked ~ .lever:before,
.switch label input[type="checkbox"]:checked ~ .lever:after {
  left: 18px;
}

.switch label input[type="checkbox"]:checked ~ .lever:after {
  background-color: #26a69a;
}

.switch label input[type="checkbox"]:checked ~ .lever:before,
.switch label input[type="checkbox"]:checked ~ .lever:after {
  left: 18px;
}

.book-cover {
  height: auto;
}

.book-cover img {
  object-fit: cover;
}

.img-thumbnail {
  max-height: 200px;
}



/* #result{
  position: fixed;
  z-index: 1;
}
#result ul{
  position: absolute;
  width: 100%;
  max-width:870px;
  cursor: pointer;
  overflow-y: auto;
  max-height: 400px;
  box-sizing: border-box;
  z-index: 1001;
 }
 .link-class:hover{
  background-color:#f1f1f1;
 } */
